$brand-primary: #0088cc;
$brand-default: #0088cc;
$brand-primary-text: #FFFFFF;
$brand-bg:#333;
$nameplate-label-default-bg:transparent;
$solid-color:#0088cc;
$solid-default-color:#888;

$navbar-default-border:#333333;
$navbar-default-link-hover-color:#f0f0f0;
$navbar-default-link-active-color:#ffffff;
$navbar-default-bg:#00468A;
$navbar-default-link-color:#00468A;

$content-background:#f8f4ec;
$brand-aux: #ffbf36;

$breadcrumb-padding-vertical: 1em;
$breadcrumb-padding-horizontal: 0em;
$breadcrumb-bg: $brand-bg;
$breadcrumb-bg-aux: #444;
$breadcrumb-color: #00468A;
$breadcrumb-border-top:5px solid #384045;
$breadcrumb-border-bottom:5px solid #CCC;
$breadcrumb-active-color: #0088cc;

$card-border: #00468A;
$card-link-color:#0088cc;

$nameplate-label-default-bg:transparent;